.h3Title{
    color: #1e4473;
}
.mainSpan{
    font-weight: bold;
}
.codePlaySpan{
    font-size: 16px;
}
.pdR0{
    padding-right:0;
}
.pdL6{
    padding-left: 6px;
}
.pdL0{
    padding-left:0;
}
@media screen and (max-width: 767px) and (min-width: 520px) {
   .pdR0{
	   padding-right: 15px;
   }
   .pdL0 {
    padding-left: 15px;
    margin-top: 15px;
	}
}
#ace-editor, div#terminal-container {
    height: 60vh;
}
#content {
    border: 1px solid #ddd;
    height: 60vh;
    width: 100%;
    background: #fafafa;
}
#playGround ul.nav.nav-tabs {
    border: none;
    margin: 0;
    padding: 0;
}
.panel-heading {
    font-size: 14px;
}
#playGround .nav-tabs>li.active>a {
    background: #1e4473;
    color: #ffffff;
    border-top: 1px solid #1e4473;
    border-left: 1px solid #1e4473;
    border-right: 1px solid #1e4473;
    border-bottom: 0;
    padding: 7px 20px;
}
#playGround .nav-tabs>li h4 {
    font-size: 14px;
    margin: 0;
    color: rgb(118,119,119);
}
#playGround .nav-tabs>li.active>a h4{
    color: #fff;
    font-weight: bold;
}
#playGround .nav-tabs>li>a {
    margin-right: 0;
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom: 0;
    padding: 7px 20px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
#playGround .nav-tabs>li>a:hover {
    background: #eee;
}
#playGround .nav-tabs>li.active>a:hover{
    background: #1e4473;
}
div#menuButtons {
    padding: 10px 10px 0px;
}
button#btnRun {
    background: #1e4473;
    border-radius: 0;
    padding: 4px 33px;
    font-size: 16px;
    color: #fff;
    border: none;
    outline:0;
}
button#btnRun:hover {
    color: #3ce333;
}
.terminal .xterm-rows {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
	overflow: auto;
	height: 60vh !important;
}
.xterm-viewport{ 
    height: 60vh !important;
}
.panel-body {
    padding-bottom: 10px;
}

.terminal {
	font-size: 15px !important;
}
